* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #010303, #48149c);
    
}

.sign {
    background: linear-gradient(180deg, #020303, #98149c);
    color: whitesmoke;
}

input {
    color: #3a0580
}

